*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
html,body,main{
    height: 100%;
    font-family: 'Caveat', cursive;
    background-color: rgb(223, 207, 239);
}

a{
    text-decoration: none;
    color: black;
}
.contanier-first{
    height: 100%;
    background-image: url(../img/real.jpg);
    background-position: center;
    background-size:cover;
}

.text-container{
    text-align: center;
    padding-top: 5%;

}

.omsk{
    color: rgb(170, 104, 232);
    font-size: 40px;
    opacity: 100%;
}
.second{
    color:black
}
.contanier-second{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}
.img-container{
     width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 1s ease;
}

.img1{
    width: 75%;
    margin-right: 70px;
    margin-top: -85px;
}

.img1:hover {
    border-radius: 70%;
  }
    


.wapper{
    margin-right: 40px;
    
}
.img2{
    margin-bottom: 20px;
}

.img2:hover{
    
        border-radius: 70%;
    
}


.img3:hover {
    border-radius: 70%;
  }

.first{
    color:black;
    font-size: 44px;
    padding-bottom:300px;
    padding-left: 100px;
}

.test{
    padding-left: 300px;
    padding-top: 20px;
    font-size: 20px;
}

.cont_second{
    background-color: lavender;
    padding-bottom: 10%;
}

.about{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    padding-left: 3%;
    padding-top: 2%;
}



h2{
    color: rgb(170, 104, 232);
    font-size: 32px;
    text-align: center;
    padding-top: 3%;
}

.cont_third{
    padding-bottom: 3%;
}

.vybor{
    padding-top: 3%;
}


.gallery{
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}

.gallery:hover{
    color: aqua;
    text-decoration: underline;
    transition: 0.7s;
}

.more{
    padding-top: 3%;
    text-align: center;
    font-size: 28px;
}

.more:hover{
    color: aqua;
    text-decoration: underline;
    transition: 0.7s;
}

@keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  



